body {
    height: 100%;
}
.header{
    height: 810px;
    background-image: url(image/header/photo-1433354359170-23a4ae7338c6.jpg);
    background-image: cover;
}
.Header_H1{
    margin: 0;
    text-align: center;
    padding-top: 225px;
    font-family: 'Exo', sans-serif;
}
.Header_Try_Now{
    background-color: #ff6d6d;
    text-align: center;
    height:50px;
    width:190px;
    margin-left: 625px;
    font-weight: 900;
}
.Header_Try_Now_Text{
    text-align: center;
    font-family: 'Exo', sans-serif;
    color:white;
    padding-top: 17px;
    font-weight: 900;
}
.header_text{
    font-family: 'Exo', sans-serif;
    text-align: center; 
    color: #868789; 
    margin-top: 19px;
    font-weight: 900;
}
.selection_1{
    height: 495px;
    background-color: white;
}
.selection_1_text1{
    color:#ff6d6d;
    margin-top: 191px;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-size:16px;
    font-weight:bold;
}
.selection_1_text2{
    color:black;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-weight:bold;
    font-size: 50px;
    margin-top: 25px;
}
.selection_1_text3{
    color:#ff6d6d;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-size:16px;
    font-weight:bold; 
}
.selection_1_text4{
    color:black;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-weight:bold;
    font-size:16px;
}
.selection_1_picture{
    height:722px;
    width:568px;
    margin-left: 120px;
    margin-top: 100px;
} 
.selection_2{
    height: 674px;
    background-color: white;
}
.selection_2_text1{
    text-align: center;
    color:#ff6d6d;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Exo', sans-serif;
}
.selection_2_text2{
    color:black;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Exo', sans-serif;
}
.descpritions{
    height: 550px;

}
.descriptions_image{
    width:602px;
    height: 411px;
    margin-left: 71px;
    margin-top:97px;
}
.descriptions_text_1{
    color:#ff6d6d;
    font-size:30px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 

}
.descriptions_text_2{
    font-size:40px;
    font-family: 'Exo', sans-serif;
    margin-top:0px;
    font-weight:bold; 
}
.descriptions_text_3{
    font-size:16px;
    font-family: 'Exo', sans-serif;
    margin-top:0px;
    font-weight:bold; 
}
.browser{
    height: 759px;
}
.browser_text_1{
    color:#ff6d6d;
    font-size:30px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    text-align: center;
    margin-top: 108px;
}
.browser_text_2{
    font-size:40px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    text-align: center;
}
.browser_text_3{
    font-size:20px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    text-align: center;
}
.browser_image{
    margin-top: 112px;
    margin-left: 323px;
}
.clients{ 
    height: 648px;
    background-image: url(image/clients/Rectangle\ 26.png);
}
.clients_table_1{
    width:100%;
}
.clients_image{
    width:130px;
    height:130px;
    margin-left:175px;
    margin-top:50px;
    margin-bottom:0px;
}
.clients_text_1{
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
}
.clients_text_2{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    color:#ff6d6d;
    padding-top:20px;
} 
.clients_text_3{
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
}
.spotify{
    height:100px;
    width:100px;
    margin-left:100px;
    margin-top:50px;
}
.EA{
    height:80px;
    width:180px;
    margin-left:50px;
    margin-top:50px;
}
.google{
    height:100px;
    width:100px;
    margin-left:100px;
    margin-top:50px;
}
.Canon{
    width:300px;
    height:100px;
    margin-left:100px;
    margin-top:50px;
}
.netflix{
    width:250px;
    height:100px;
    margin-left:100px;
    margin-top:50px;
}
.try_now{
    height: 467px;
    background-color:#323969;
}
.footer{
    height: 334px;
}
.try_now_text1{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    color:#ff6d6d;
    padding-top:85px;
}
.try_now_text2 {
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold;  
    font-size: 45px;
    margin-top:0px;
}
.input_FULL_NAME {
    margin-left: 150px;
}
.input_EMAIL {
    margin-left: 150px;
}
.input_PASSWORD {
    margin-left: 150px;
}
.try_now_button {
    background-color:#ff6d6d;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-size:13px;
    font-weight:bold;  
    color:white;
    width: 180px;
}
.try_now_text3{
    color:#a8aabc;
    font-family: 'Exo', sans-serif;
    font-weight:bold;  
    text-align: center;
    margin-top: 50px;
}
.coffee_cup{
    margin-top: 500px;
    margin-left: 1200px;
}
.earphones{
    margin-left: 1200px;
    margin-top: -760px;
}
.pen_holder{
    margin-top: -260px;
}
.section_2_picture_1{
    margin-left: 270px;
}
.section_2_picture_2{
    margin-left: 270px;
}
.section_2_picture_3{
    margin-left: 270px;
}
.section_2_text_1{
    font-family: 'Exo', sans-serif;
    font-weight:900;  
    text-align: center;
    margin-left: 150px;
}
.section_2_text_2{
    font-family: 'Exo', sans-serif;
    font-weight:500;  
    text-align: center;
    margin-left: 150px;
}
.table_section_2{
    margin-top: -60px;
}
.footer_image_1{
    margin-top:75px;
    margin-left:175px;
}
.footer_text_1{
    font-family: 'exo', sans-serif;
    font-weight: 900;
    margin-left:175px;
    font-size: 14px;
    margin-top: 0px;
}
.footer_text_2{
    font-family: 'exo', sans-serif;
    font-weight: 900;
    margin-left:175px;
    font-size: 28px;
    margin-top: 75px;
}
.footer_input_1{
    border: 0px solid ;
    background-color: #f6f6f6;
    height: 49px;
    width: 213px;
    margin-left: 170px;
    margin-top: -20px;
}
.footer_text_3{
    font-family: 'exo', sans-serif;
    font-weight: 900;
    margin-left:158px;
    font-size: 28px;
    margin-top: 75px;
}
.footer_image_2{
    margin-left: 30px;
}
.footer_image_3{
    margin-left: 170px;
}

