body {
    height: 100%;
}
.header{
    height: 810px;
    background-image: url(image/header/photo-1433354359170-23a4ae7338c6.jpg);
    background-image: cover;
}
.Header_H1{
    margin: 0;
    text-align: center;
    padding-top: 225px;
    font-family: 'Exo', sans-serif;
}
.Header_Try_Now{
    background-color: #ff6d6d;
    text-align: center;
    height:50px;
    width:190px;
    margin-left: 575px;
    font-weight: 900;
}
.Header_Try_Now_Text{
    text-align: center;
    font-family: 'Exo', sans-serif;
    color:white;
    padding-top: 17px;
    font-weight: 900;
}
.header_text{
    font-family: 'Exo', sans-serif;
    text-align: center; 
    color: #868789; 
    margin-top: 19px;
    font-weight: 900;
}
.selection_1{
    height: 495px;
    background-color: white;
}
.selection_1_text1{
    color:#ff6d6d;
    margin-top: 191px;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-size:16px;
    font-weight:bold;
}
.selection_1_text2{
    color:black;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-weight:bold;
    font-size: 50px;
    margin-top: 25px;
}
.selection_1_text3{
    color:#ff6d6d;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-size:16px;
    font-weight:bold; 
}
.selection_1_text4{
    color:black;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-weight:bold;
    font-size:16px;
}
.selection_1_picture{
    height:722px;
    width:568px;
    margin-left: 120px;
    margin-top: 100px;
} 
.selection_2{
    height: 674px;
    background-color: white;
}
.selection_2_text1{
    text-align: center;
    color:#ff6d6d;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Exo', sans-serif;
}
.selection_2_text2{
    color:black;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Exo', sans-serif;
}
.descpritions{
    height: 550px;

}
.descriptions_image{
    width:602px;
    height: 411px;
    margin-left: 71px;
    margin-top:97px;
}
.descriptions_text_1{
    color:#ff6d6d;
    font-size:30px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 

}
.descriptions_text_2{
    font-size:40px;
    font-family: 'Exo', sans-serif;
    margin-top:0px;
    font-weight:bold; 
}
.descriptions_text_3{
    font-size:16px;
    font-family: 'Exo', sans-serif;
    margin-top:0px;
    font-weight:bold; 
}
.browser{
    height: 759px;
}
.browser_text_1{
    color:#ff6d6d;
    font-size:30px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    text-align: center;
    margin-top: 108px;
}
.browser_text_2{
    font-size:40px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    text-align: center;
}
.browser_text_3{
    font-size:20px;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    text-align: center;
}
.browser_image{
    margin-top: 112px;
    margin-left: 323px;
}
.clients{ 
    height: 648px;
    background-image: url(image/clients/Rectangle\ 26.png);
}
.clients_table_1{
    width:100%;
}
.clients_image{
    width:130px;
    height:130px;
    margin-left:175px;
    margin-top:50px;
    margin-bottom:0px;
}
.clients_text_1{
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
}
.clients_text_2{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    color:#ff6d6d;
    padding-top:20px;
} 
.clients_text_3{
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
}
.spotify{
    height:100px;
    width:100px;
    margin-left:100px;
    margin-top:50px;
}
.EA{
    height:80px;
    width:180px;
    margin-left:50px;
    margin-top:50px;
}
.Canon{
    width:300px;
    height:100px;
    margin-left:100px;
    margin-top:50px;
}
.netflix{
    width:250px;
    height:100px;
    margin-left:100px;
    margin-top:50px;
}
.try_now{
    height: 467px;
    background-color:#323969;
}
.footer{
    height: 334px;
}
.try_now_text1{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold; 
    color:#ff6d6d;
    padding-top:85px;
}
.try_now_text2 {
    color:white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight:bold;  
    font-size: 45px;
    margin-top:0px;
}
.input_FULL_NAME {
    margin-left: 150px;
}
.input_EMAIL {
    margin-left: 150px;
}
.input_PASSWORD {
    margin-left: 150px;
}
.try_now_button {
    background-color:#ff6d6d;
    font-family: 'Exo', sans-serif;
    margin-left:150px;
    font-size:13px;
    font-weight:bold;  
    color:white;
    width: 180px;
}
.try_now_text3{
    color:#a8aabc;
    font-family: 'Exo', sans-serif;
    font-weight:bold;  
    text-align: center;
    margin-top: 50px;
}
.coffee_cup{
    margin-top: 500px;
    margin-left: 1100px;
}
.earphones{
    margin-left: 1100px;
    margin-top: -760px;
}
.pen_holder{
    margin-top: -260px;
}
.section_2_picture_1{
    margin-left: 270px;
}
.section_2_picture_2{
    margin-left: 270px;
}
.section_2_picture_3{
    margin-left: 270px;
}
.section_2_text_1{
    font-family: 'Exo', sans-serif;
    font-weight:900;  
    text-align: center;
    margin-left: 150px;
}
.section_2_text_2{
    font-family: 'Exo', sans-serif;
    font-weight:500;  
    text-align: center;
    margin-left: 150px;
}
.table_section_2{
    margin-top: -60px;
}
.footer_image_1{
    margin-top:75px;
    margin-left:175px;
}
.footer_text_1{
    font-family: 'exo', sans-serif;
    font-weight: 900;
    margin-left:175px;
    font-size: 14px;
    margin-top: 0px;
}
.footer_text_2{
    font-family: 'exo', sans-serif;
    font-weight: 900;
    margin-left:175px;
    font-size: 28px;
    margin-top: 75px;
}
.footer_input_1{
    border: 0px solid ;
    background-color: #f6f6f6;
    height: 49px;
    width: 213px;
    margin-left: 170px;
    margin-top: -20px;
}
.footer_text_3{
    font-family: 'exo', sans-serif;
    font-weight: 900;
    margin-left:158px;
    font-size: 28px;
    margin-top: 75px;
}
.footer_image_2{
    margin-left: 30px;
}
.footer_image_3{
    margin-left: 170px;
}
.map{
    width: 100%;
    height:400px;
}
[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background:cornsilk; /* Синий цвет фона */
    color: #d6d6d6; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    font-family: monospace;
    margin-left: 78px;
    border:10px, solid;
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -2em; /* Положение подсказки */
   }
.menu-bar {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
}
.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #130006, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
} 
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  
  .btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
    border: none ;
  }
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #423c3e;
    border-radius: 30px;
    color:white;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

.login_1{
    height:920px;
    width:100% ;
    background-color:cornsilk;
    padding-top: 1px;
}
.login_2{
    height:450px;
    width:450px;
    background-color:#fff;
    border-radius: 20px;
    margin-left:440px;
    box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: -80px;
}
.login_input_1{
    height:40px;
    width:225px;
    opacity:30;
    border: none;
    background-color:#f2f2f2;
    margin-left:110px;
}
.login_input_2{
    height:40px;
    width:225px;
    opacity:30;
    border: none;
    background-color:#f2f2f2;
    margin-left:110px;
    padding-bottom: 0x;
}
.login_p_1{
    color: #d6d6d6;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    margin-left: 63px;
    margin-left:110px;
}
.login_p_2{
    color: #d6d6d6;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    margin-left: 80px;
    margin-left:110px;
}
.login_button{
    background-color:darkturquoise;
    height:40px;
    width:227px;
    opacity:30;
    border: none;
    color:lightcyan;
    margin-top:10px;
    margin-left:110px;
}
.login_photo_1{
    text-align: center;
    margin-left: 35px;
    padding-left: 60px;
}
.photo_text_3{
    color: #d6d6d6;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    margin-left: 110px;
}
.login_text_4{
    color: #d6d6d6;
    font-size: 30px;
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-weight: 900;
}
.login_input_3{
    padding-left:105px;
}
.photo_text_5{
    color: #d6d6d6;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}

